@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@using PRN211_Online_Store.Models;
@model Product;
<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
    <link rel="stylesheet" href="/css/NavBar.css" />
    <link rel="stylesheet" href="/css/ProductDetail.css" />
    <style></style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @Html.Partial("_NavBar")
    <div class="container">
        @Html.Partial("_ProductView", Model)
        <div class="product-description">
            <h4>Thông tin sản phẩm variant</h4>
            <p>@Model.ProductDescription</p>
        </div>
        <div class="feedbacks">
            <h3>Đánh giá</h3>
            <a class="feedback-button"
               asp-controller="Feedback"
               asp-action="Feedback"
               asp-route-productId="@Model.ProductId">
                Đánh giá sản phẩm
            </a>
            @foreach (Feedback f in Model.Feedbacks)
            {
                <div class="feedback">
                    <div class="feedback-user">
                        <div class="feedback-avatar">
                            <img src="~/img/@f.UsernameNavigation.AvatarPath"
                                 alt="User Avatar" />
                        </div>
                        <p>@f.UsernameNavigation.DisplayName</p>
                    </div>
                    <div class="feedback-stars">
                        @for (int i = 1; i <= f.Rating; i++)
                        {
                            <i class="fas fa-star"></i>
                        }
                        @for (int i = 1; i <= 5 - f.Rating; i++)
                        {
                            <i class="fas fa-star grey"></i>
                        }
                    </div>
                    <p class="feedback-comment">@f.Comment</p>
                    <div class="feedback-images">
                        <!-- Images for the first feedback -->
                        <img class="feedback-image-zoom"
                             src="https://media.istockphoto.com/id/1198863709/photo/skin-and-hair-care-beauty-product-mock-up-lotion-bottle-oil-cream-isolated-on-white-3d-render.jpg?s=612x612&w=0&k=20&c=_0-9dLUohaQrThH0669Ygx3Ar17rX0cRkXy0cEexfQw="
                             alt="Feedback Image 1" />
                        <img class="feedback-image-zoom"
                             src="https://media.istockphoto.com/id/1198863709/photo/skin-and-hair-care-beauty-product-mock-up-lotion-bottle-oil-cream-isolated-on-white-3d-render.jpg?s=612x612&w=0&k=20&c=_0-9dLUohaQrThH0669Ygx3Ar17rX0cRkXy0cEexfQw="
                             alt="Feedback Image 1" />
                        <!-- Add more images here for the first feedback if needed -->
                    </div>
                </div>
            }
        </div>
        <div id="imagePopup" class="image-popup">
            <span class="close-button">&times;</span>
            <img id="zoomedImage" class="zoomed-image" src="" alt="Zoomed Image" />
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Handle click on feedback images
            $(".feedback-image-zoom").on("click", function () {
                // Get the source of the clicked image
                const src = $(this).attr("src");

                // Set the source of the zoomed image popup
                $("#zoomedImage").attr("src", src);

                // Show the popup
                $("#imagePopup").fadeIn();
            });

            // Handle click on close button to hide the popup
            $(".close-button").on("click", function () {
                $("#imagePopup").fadeOut();
            });
        });
    </script>
</body>
</html>
