@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int variantId = ViewBag.SelectedVariantId;
    int variantPrice = -1;
    int noVariants = Model.Variants.Count;
    int minPrice = -1, maxPrice = -1;
    if (noVariants > 0)
    {
        minPrice = (int)Model.Variants.Min(v => v.VariantPrice);
        maxPrice = (int)Model.Variants.Max(v => v.VariantPrice);
    }
    if (variantId != 0)
    {
        variantPrice = (int)Model.Variants.Where(v => v.VariantId == variantId).FirstOrDefault().VariantPrice;
        //Variant v = Model.Variants.Where(v => v.VariantId == variantId).SingleOrDefault();
        //if (v != null)
        //{
        //    try
        //    {
        //        variantPrice = (v.VariantPrice != null) ? (int)v.VariantPrice : -3;
        //    }
        //    catch (Exception e)
        //    {
        //        variantPrice = new Random().Next(100, 500) * 1000;
        //    }
        //} else
        //{
        //    variantPrice = new Random().Next(100, 500) * 1000;
        //}
    }
}
@using PRN211_Online_Store.Models;
@model Product;

<div class="product-wrapper">
    <div class="product-images">
        <div class="carousel">
            @foreach (ProductAttachment pa in Model.ProductAttachments)
            {
                <img class="carousel-image"
                     src="/img/@pa.FilePath"
                     alt="@Model.ProductName" />
            }
            <div class="carousel-arrow prev">
                <i class="fas fa-angle-left"></i>

            </div>
            <div class="carousel-arrow next">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
    </div>
    <div class="product-info">
        <h3>@Model.ProductName</h3>
        @if (variantId != 0)
        {
            <p>Price: @variantPrice</p>
        }
        else
        {
            @if (maxPrice != minPrice)
            {
                <p>Price: @minPrice - @maxPrice</p>
            }
            else
            {
                <p>Price: @minPrice</p>
            }
        }
        <p>Units in Stock: @Model.StockUnit</p>
        <p>Units Sold: @Model.SoldUnit</p>
        <p>
            Categories:
            @foreach (Category c in Model.Categories)
            {
                <button>
                    <a style="text-decoration: none"
                       asp-controller="Product"
                       asp-action="Search"
                       asp-route-categoryId="@c.CategoryId">
                        @c.CategoryName
                    </a>
                </button>
            }
        </p>
        @if (noVariants > 1)
        {
            <p>
                Variants:
            </p>
            @foreach (Variant c in Model.Variants)
            {
                <button style="border: 1px solid black">
                    <a href="/Product/Details/@Model.ProductId?variantId=@c.VariantId"
                       style="text-decoration:none;">
                        @c.VariantName
                    </a>
                </button>
            }
        }
    </div>
</div>

<script>
    const carousel = document.querySelector(".carousel");
    const carouselImages = Array.from(
        document.querySelectorAll(".carousel-image")
    );
    const prevButton = document.querySelector(".carousel-arrow.prev");
    const nextButton = document.querySelector(".carousel-arrow.next");
    let currentIndex = 0;

    function showImage(index) {
        carouselImages.forEach((image, i) => {
            if (i === index) {
                image.style.transform = "translateX(0)";
            } else {
                image.style.transform = "translateX(100%)";
            }
        });
    }

    function showNextImage() {
        currentIndex = (currentIndex + 1) % carouselImages.length;
        showImage(currentIndex);
    }

    function showPreviousImage() {
        currentIndex =
            (currentIndex - 1 + carouselImages.length) % carouselImages.length;
        showImage(currentIndex);
    }

    nextButton.addEventListener("click", showNextImage);
    prevButton.addEventListener("click", showPreviousImage);
</script>